<%- include("../partials/header") %>
<div class="container">
	
	<div class="card">
	  <div class="card-header">
		<h5><%=lessonlearnedlog.section %></h5>		
	  </div>
	  <div class="card-body">
		<h5 class="card-title"><%=lessonlearnedlog.title %></h5>
		<img class="img-fluid" src="<%=lessonlearnedlog.image %>">
		
		<p><%=lessonlearnedlog.description %></p>		
		<p><em>Submitted by <a href="/users/<%=lessonlearnedlog.author.id%>"><%=lessonlearnedlog.author.username%></a></em> - <%=lessonlearnedlog.created.toDateString() %></p>
		  <div class="d-flex justify-content-between" style="width: 11rem;">
			  <a class="btn btn-primary p-2" href="/lessonlearnedlogs/index" role="button">Back</a>
			  
			  <%if(currentUser && lessonlearnedlog.author.id.equals(currentUser._id)||currentUser && currentUser.isAdmin){%>
			      <a class="btn btn-warning p-2" href="/lessonlearnedlogs/<%=lessonlearnedlog._id %>/edit" role="button">Edit</a>
				  <form action="/lessonlearnedlogs/<%=lessonlearnedlog._id%>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-danger p-2">Delete</button>
				  </form>
			  <%}%>
			  
			  
		  </div>
		

		
	  </div>
	</div>
	
	<div class="card">
	  <ul class="list-group list-group-flush">
		  
		  <a class="btn btn-secondary" href="/lessonlearnedlogs/<%=lessonlearnedlog._id %>/comments/new" role="button">Add a New Comment</a>
		   <% lessonlearnedlog.comments.forEach(function(comment){ %>
					
		  <li class="list-group-item"><strong><a href="/users/<%=comment.author.id%>"><%=comment.author.username %></a></strong><span class="float-right"><%=moment(comment.createdAt).fromNow() %></span> 
						<p><%= comment.text%></p>
						
						<%if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
						<div class="d-flex justify-content-between" style="width: 7.2rem;">
							<a class="btn btn-warning p-2" href="/lessonlearnedlogs/<%=lessonlearnedlog._id %>/comments/<%=comment._id%>/edit" role="button">Edit</a>
						<form action="/lessonlearnedlogs/<%=lessonlearnedlog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-danger class= p-2">Delete</button>
				  </form>	
						</div>
						<% } %>
						
				  			
						
		            </li>
			 <%}) %>
	  </ul>
	</div>


	<%- include("../partials/footer") %>
</div>

