<%- include("../partials/header") %>

<div class="container">
	<h1>Add a new Comment to <%=lessonlearnedlogs.title%> </h1>
                                
	<form action="/lessonlearnedlogs/<%=lessonlearnedlogs.id%>/comments" method="POST">		
				
		<div class="form-group">
		 	<label for="description">New Comment:</label>
		  	<textarea class="form-control" rows="10" name="comment[text]"></textarea>			
		</div>
		<div class="form-group row">
			<div class="col-md-6">	
				<label for="title">Author:</label>
			   	<input type="text" class="form-control" name="comment[author]" placeholder="Author">				
			</div>			
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="/lessonlearnedlogs/<%=lessonlearnedlogs.id%>" class="btn btn-secondary">Cancel</a>
		</div> 
		
	</form>
	
	<%- include("../partials/footer") %>	
</div>




