<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>ISSUE LOGS PAGE!!!</h1>
			<p>
				<a class="btn btn-primary btn-large" href="/issuelogs/new">Add New Issue</a>
			</p>			
		</div>		
	</header>	
	
	<div class="container sev">	 
		<form class="form-inline my-2 my-lg-0" action="/issuelogs/index" method="GET">	
			
			<div>
				Filter
				<div class="btn-group" role="group" aria-label="Basic example">
				<button type="subit" class="btn btn-primary" name="search">All</button>
				<button type="subit" class="btn btn-success" name="search" value="Low">Low</button>
				<button type="submit" class="btn btn-warning" name="search" value="Medium">Medium</button>
				<button type="submit" class="btn btn-danger" name="search" value="High">High</button>
			</div>
			</div>
			
		</form>	 
	</div>
	
	<div class="row">
		<div class="col-lg-12">
			<h3>Latest Issues!</h3>	
		</div>		
	</div>
	
	<div class="row">	
		<% issuelog.forEach(function(issue){ %>
		<div class="col-md-3 col-sm-6">
			<div class="card text-white <% if(issue.severity=="High") {%>
					bg-danger
					<% } else if (issue.severity=="Medium") { %>
					bg-warning 	
					<% }else{%>
					bg-success 	
					<%}%>
					mb-3"  style="max-width: 18rem;" <%if(issue.comment){ %>
						 data-toggle="tooltip" data-placement="bottom" title="<%= issue.comment %>"
						 <%};%>>
					<!-- card-header next -->
					<div class="card-header">
						<div class="d-flex justify-content-between align-items-start">
							<div><h4><%= issue.section %></h4></div>	
							<div class="badge badge-light">S<%= issue.sprint %></div>					
						</div>
						<p><small class="text-white-50 float-right"><%=issue.severity %></small></p>
				   
						
						
			</div>	
			<div class="progress text-nowrap">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" <%if((Date.now()-issue.firstDate)/86400000>100){%>
					 aria-valuenow="100" style="width: 100%"
					 <%}else{%>
					 aria-valuenow="<%=(Date.now()-issue.firstDate)/86400000%>"
					 style="width:<%=(Date.now()-issue.firstDate)/86400000%>%"
					 <%}%> aria-valuemin="0"   	aria-valuemax="100"><%=moment(issue.created).fromNow() %></div>
				
			</div>
				<div class="card-body">   
    				<p class="card-text"><%= issue.title %></p>
					<a href="<%=issue.issueUrl %>" target="_blank" class="btn btn-primary"><%=issue.issueId %></a>
					
  				</div>
				<!-- card-footer next -->
				<div class="card-footer">
                	<small class="text-white-50">- <a href="/users/<%= issue.author.id %>"><%=issue.author.username %></a></small>
					<%if(currentUser && issue.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
						<div class="dropdown">
  							<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-	 haspopup="true" aria-expanded="false">
   							 More
					  </button>
						
						<form action="/issuelogs/<%=issue._id%>?_method=DELETE" method="POST">
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						       <a class="dropdown-item" href="/issuelogs/<%=issue._id %>/edit">Edit</a>						        
							   <button type="submit" class="btn btn-light">Delete</button>
					         </div>
                        </form>
					  
					</div>
					<%}%>
					
            	</div>
			</div>
		</div> 			 
		<% }); %>
	</div>	
	
	
	
	<div>
		<nav aria-label="Page navigation">
			<% if (pages && pages > 0) { %>
			<ul class="pagination justify-content-center">
				<% if (current == 1) { %>
					 <li class="page-item disabled"><a class="page-link">First</a></li>
				  <% } else { %>
				<li><a class="page-link" href="/issuelogs/index">First</a></li>
				<% } %>

				<% if (current == 1) { %>
				<li class="page-item disabled"><a class="page-link">«</a></li>
				<% } else { %>
				<li><a class="page-link" href="/issuelogs/index?page=<%= Number(current) - 1 %>">«</a></li>
				<% } %>

				<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
				<% if (i !== 1) { %>
				<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
				<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
				<% if (i == current) { %>
				<li class="active"><a class="page-link"><%= i %></a></li>
				<% } else { %>
				<li><a class="page-link" href="/issuelogs/index?page=<%= i %>"><%= i %></a></li>
				<% } %>
				<% if (i == Number(current) + 4 && i < pages) { %>
				<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
				<% } %>

				<% if (current == pages) { %>
				<li class="page-item disabled"><a class="page-link">»</a></li>
				<% } else { %>
				<li><a class="page-link" href="/issuelogs/index?page=<%= Number(current) + 1 %>">»</a></li>
				<% } %>

				<% if (current == pages) { %>
				<li class="page-item disabled"><a class="page-link">Last</a></li>
				<% } else { %>
				<li><a class="page-link" href="/issuelogs/index?page=<%= pages %>">Last</a></li>
				<% } %>
			</ul>
			<% } %>
		</nav>
	</div>
		
	<%- include("../partials/footer") %>
</div>





